
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Styles.Render("~/Content/css")
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>

        <th></th>
    </tr>


</table>
